/* WhyChooseUs.css */
.why-choose-us {
  padding: 40px 20px;
  text-align: center;
}

.why-choose-us h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.custom-card {
  background-color: lightblue;
  border: none;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-icon {
  color: #b134eb;
  margin-bottom: 15px;
}

.custom-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.custom-card p {
  font-size: 16px;
}
